.form-wrapper {
  display: flex;
  flex-direction: row;
  height: 50rem;
}

.form-status {
  background: url(../../images/bg-sidebar-desktop.svg);
  background-size: cover;
  width: 35%;
  padding-top: 2rem;
  border-radius: 1rem;
}

.form-status .list {
  list-style: none;
}

.form-status .list .inner-list {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  column-gap: 1.2rem;
}

.form-status .list .inner-list .numbering-wrapper {
  font-family: var(--font-regular);
  font-size: 1.4rem;
  border-radius: 50%;
  border: 1px solid var(--secondary-white);
  color: var(--secondary-white);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-status .list .inner-list .numbering-wrapper.active {
  animation: highlight-numbering 0.2s forwards;
}

.form-status .list .inner-list .step-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.form-status .list .inner-list .step {
  font-family: var(--font-regular);
  font-size: 1.2rem;
  color: var(--secondary-cool-gray);
  text-transform: uppercase;
  width: 84%;
}

.form-status .list .inner-list .step-name {
  font-family: var(--font-medium);
  font-size: 1.3rem;
  color: var(--secondary-white);
  text-transform: uppercase;
}

.form-input {
  width: 70%;
}

@keyframes highlight-numbering {
  0% {
    background-color: none;
  }

  100% {
    background-color: var(--primary-light-blue);
    color: var(--primary-marine-blue);
    border: unset;
  }
}

@media only screen and (max-width: 768px) {
  .form-wrapper {
    flex-direction: column;
  }

  .form-status {
    background: url(../../images/bg-sidebar-mobile.svg);
    background-size: cover;
    width: 100%;
    height: 25vh;
    padding-top: 0;
    border-radius: 0;
  }

  .form-status .list {
    display: flex;
    justify-content: center;
    height: 25vh;
  }

  .form-status .list .inner-list {
    margin: 4rem 2rem;
  }
}
