.form-control {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  padding: 3rem 5rem 2rem;
  margin: 0 auto;
}

.form-control-wrapper {
  height: 100%;
}

.form-header {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

.form-title {
  font-family: var(--font-bold);
  line-height: 2rem;
  color: var(--primary-marine-blue);
}

.form-description {
  font-family: var(--font-regular);
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--secondary-cool-gray);
}

.form-body {
  margin-top: 3rem;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .form-control {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    padding: 3rem 0 2rem;
    border-radius: 5px;
  }

  .form-control-wrapper {
    width: 90%;
    padding: 3rem 2rem;
    margin: 0 auto;
    border-radius: 5px;
    background: var(--secondary-white);
    box-shadow: 1px 3px 10px rgb(0 0 0 / 20%);
  }

  .form-body {
    margin-top: 2rem;
  }

  .button-wrapper {
    position: absolute;
    top: 87vh;
    left: 0;
    padding: 2rem;
    width: 100vw;
    background-color: var(--secondary-white);
    display: flex;
    justify-content: flex-end;
  }
}
