.check-card {
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-light-gray);
  border-radius: 8px;
  margin-bottom: 1.5rem;
  transition: all 0.2s;
}

.check-card.selected {
  background-color: var(--secondary-magnolia);
  border: 1px solid var(--primary-purplish-blue);
}

.check-card:hover {
  border: 1px solid var(--primary-purplish-blue);
}

.check-card-details {
  width: 100%;
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-card-details input[type="checkbox"] {
  appearance: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-card-details .checkmark {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  background-color: #eee;
  border-radius: 5px;
}

.check-card-details input:checked ~ .checkmark {
  background-color: var(--primary-purplish-blue);
}

.check-card-details .checkmark::after {
  content: url("../../images/icon-checkmark.svg");
  position: absolute;
  display: none;
}

.check-card-details input:checked ~ .checkmark:after {
  display: block;
}

.check-card-details .checkmark:after {
  width: 0;
  height: 0;
  top: 15%;
  left: 20%;
}

.check-card-details-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-left: 4rem;
}

.check-card-title {
  font-family: var(--font-bold);
  color: var(--primary-marine-blue);
}

.check-card-description {
  font-family: var(--font-regular);
  color: var(--secondary-cool-gray);
}

.check-card-price {
  font-family: var(--font-regular);
  color: var(--primary-purplish-blue);
}

@media only screen and (max-width: 768px) {
  .check-card-details-wrapper {
    margin-left: 3rem;
  }

  .check-card-details .checkmark {
    left: 1.5rem;
  }
}
